.row {
  display: grid;
  grid-template-columns: auto 1fr auto 30%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'badges title status timeline'
    'badges labels status timeline '
    'badges meta   status timeline '
    'sla sla sla sla';
  gap: 10px;
  cursor: pointer;
}

.line {
  display: flex;
}

.badges {
  grid-area: badges;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.labels {
  grid-area: labels;
}
.title {
  grid-area: title;
}
.meta {
  grid-area: meta;
  gap: 5px;
  font-size: 0.8rem;
}

.status {
  grid-area: status;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.sla {
  grid-area: sla;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.time {
  display: flex;
  flex-direction: column;
}

.timeline {
  grid-area: timeline;
  position: relative;
  margin-left: 0;
  border-radius: 5px;
}

.timeline [role='tooltip'] {
  position: relative;
  height: 100%;
}

.timeline .comment-count {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px;
}
